.blogComposeTitle {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.blogComposeContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: medium;
}
input{
    border: solid black;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
}

.createOrEditButton{
    background-color: rgb(59 130 246);
    color: rgb(248 250 252);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.createOrEditButton:hover{
    background-color: rgb(37 99 235);
    color: white;
}

.makeBlogButton{
    background-color: rgb(34 197 94);
    color: rgb(248 250 252);
    padding:5px;
    border-radius: 5px;
    font-weight: bold;
}

.makeBlogButton:hover{
    background-color: rgb(22 163 74);
    color: white;
}

.tiptap {
    min-height: 80px;
    /* List styles */
    ul, 
    ol {
      padding: 0 1rem;
      list-style: square;
    }
    h1 { 
        font-size: 1.4rem; 
      }
    
    h2 { 
        font-size: 1.2rem; 
    }   
}

.newsFeedContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 8px;
}

.blogItem{
    border: black solid 2px;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;
}

.blogItem:hover{
    text-decoration: underline;
}
